@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: ;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5ebd6;
}

header {
    background: linear-gradient(to bottom, var(--cor4), var(--cor6));
    color: white;
    padding: 10px;
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-weight: normal;
    
}

header > p {
    color: var(--cor2);
    font-family: var(--font-padrao);
    text-align: center;
}


nav > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    position: inherit;
    border-radius: 5px 0px;
    margin: -2px;
    font-weight: bold;
    transition: 0.5s;
    
}

nav > a:hover {
    color: #05321A;
    background-color: #2AA25F;
}

main {
    width: 800px;
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    margin-top: 0px;
}


article > img {
    display: block;
    margin: auto;
}

article > h1 {
    font-size: 2em;
    color: black;

}

article > h1, h2 {
    font-family: 'idroid';
    padding: 5px;
    margin-top: 5px;
}

article > h2 {
    background: linear-gradient(to right, #8CE3B2, white);
    color: var(--cor6);
}

article > p {
    text-indent: 15px;
    text-align: justify;
    margin-top: 10px 0px 10px 0px;
}

aside > p {
    text-indent: 15px;
}
footer {
    background-color: var(--cor6);
    color: white;
    text-align: center;
    padding: 3px;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor2);
}

footer > p {
    margin: 0px;
    font-family: var(--font-padrao);
}

p > a:hover {
    color: var(--cor4);
    transition: 0.5s;
}