@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E7E5C2;
    margin: 0px;
}

header {
    background: linear-gradient(to bottom, #2AA25F, #05321A);
    color: white;
    padding: 10px;
}

header > h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    
}

header > p {
    color: rgba(255, 255, 255, 0.548);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


nav > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    position: inherit;
    border-radius: 5px 0px;
    margin: -3px;
    font-weight: bold;
    transition: 0.5s;
    
}

nav > a:hover {
    color: #05321A;
    background-color: #2AA25F;
}

div#conteudo {
    width: 800px;
    background-color: white;
    margin: 10px auto 10px auto;
    padding: 10px;
}


article > img {
    display: block;
    margin: 10px auto 10px auto;
}

article > h1 {
    font-size: 2em;
}

article > h1, h2 {
    font-family: 'idroid';
    color: #19392A;
    margin: 10px;
    padding: 10px;
}

article > h2 {
    background: linear-gradient(to right, #8CE3B2, white);
}

article > p {
    text-indent: 15px;
}

footer {
    background-color: #19392A;
    color: white;
    text-align: center;
    padding: 3px;
}

footer > p > a {
    text-decoration: none;
    color: #3ddc84;
}

footer > p {
    margin: 0px;
}

p > a:hover {
    color: #3ddc8556;
    transition: 0.5s;
}