@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-principal: #fecb3e;
    --cor-destaque: #000000;
    --font-principal: 'Arial', sans-serif;
    --font-alternativa: 'Georgia';
}

body {
    font-family: var(--font-principal);
}

header {
    background-color: var(--cor-principal);
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}