.interna-portfolio {
    background: url("../images/bg-portfolio.jpg");
    background-size: cover;
}

.quote-clientes {
    padding: 60px 0;
    max-width: 460px;
    margin: 0 auto;
    height: 250px;
}

.quote-clientes p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-clientes cite {
    font-weight: bold;
    font-size: 18px;
    float: right;
    font-style: normal;
}

.quebra {
    margin-top: 0;
}