@charset "UTF-8";

:root {
    --cor-principal: #fec63e;
}

/*Configurações Gerais*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.subtitulo {
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 10px auto 10px auto;
}

.btn, .btn-preto {
    color: var(--cor-principal);
    border: 3px solid var(--cor-principal);
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    transition: .3s;
}

.btn:hover {
    color: white;
    border-color: white;
}

.btn-preto:hover {
    color: black;
    border-color: black;
}

img {
    display: block;
    max-width: 100%;
}

/* Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--cor-principal);
    padding: 15px 0;
    z-index: 10;
}

.header-menu {
    text-align: right;
}

.header-menu ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
}

.header-menu ul li a {
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 10px 0;
    transition: 0.3s;
}

.header-menu ul li a:hover {
    color: white;
}

.header-menu ul li a.menu-ativo {
    color: white;
}

/* Introdução */

.introducao {
    width: 100%;
    height: 380px;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-top: 92px;
    padding-top: 80px;
}

.introducao h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::after, .quote-externo p::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
}

/*Introdução Interna*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.introducao-interna h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}

.introducao-interna h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 6px auto 10px auto;
}



/* Produtos */

.produtos {
    padding: 60px 0;
}

.produtos-lista li {
    background: var(--cor-principal);
    text-align: center;
}

.produtos-lista li img {
    margin: 0 auto;
}

.produtos-lista li h3 {
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.produtos-lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 2px auto;
}

.produtos-lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos-img{
    background: black;
    padding: 20px;
}

.produto-img img {
    display: block;
    margin: 0 auto;
}
.call {
    clear: both;
    text-align: center;
    padding-top: 40px;
}
.call p {
    margin-bottom: 20px;
}

/*Portfólio*/

.portfolio {
    width: 100%;
    background-color: black;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: var(--cor-principal);
}

.portfolio .subtitulo::after {
    background-color: var(--cor-principal);
}

.portfolio-lista li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: white;
}

/* Qualidade */

.qualidade {
    padding-top: 60px;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url(../images/linhas.svg);
    position: absolute;  
    top: 209px;
    right: 162px;
    z-index: -1;
}

.qualidade-lista {
    padding-top: 20px;
    overflow: auto;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade .qualidade-lista li {
    text-align: center;
    padding: 40px 0;
}

.qualidade .qualidade-lista h3 {
    text-transform: uppercase;
    color: black;
    letter-spacing: .1em;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.qualidade .qualidade-lista h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 6px auto;
}

.qualidade .qualidade-lista li p {
    max-width: 220px;
    margin: 0 auto;
}

/*Quebra*/

.quebra {
    width: 100%;
    height: 220px;
    text-align: center;
    background: url(../images/bg-footer.jpg) no-repeat center;
    background-size: cover;
    padding-top: 40px;
    margin-top: 60px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/*Footer*/

.footer {
    width: 100%;
    background: black;
    color: white;
    padding: 20px 0;
}

.footer h3 {
    text-transform: uppercase;
    color: var(--cor-principal);
    letter-spacing: .1em;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--cor-principal);
    margin: 8px 0 8px 0;
}

.footer-historia {
    padding-right: 40px;
}

.footer-contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-redes ul li a{
    display: block;
    border: 3px solid var(--cor-principal);
    padding: 10px;
    transition: .3s;
}

.footer-redes ul li a:hover {
    border-color: white;
}

.copy {
    width: 100%;
    background-color: var(--cor-principal);
    padding: 20px 0;
}

/*JavaScript*/

.js [data-slide] {
    position: relative;
}

.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}

.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background-color: #1d1d1d;
}

.js [data-slide-nav] > button.active {
    background-color: #fec63e;
}

.js [data-anime] {
    opacity: 0;
}

.js .fadeInDown {
    transform: translate3d(0,-20px,0);
}

.js .fadeInUp {
    transform: translate3d(0,20px,0);
}

.js .fadeInRight {
    transform: translate3d(20px,0,0);
}

.js .fadeInLeft {
    transform: translate3d(-20px,0,0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
}